h1
{
  display: flex;
  justify-content: center;
}

#pictures
{
  display: flex;
  flex-wrap: wrap;
}

.delete
{
  display: flex;
  flex-wrap: wrap row;
  justify-content: center;
}

h3
{
  display: flex;
  justify-content: center;
}

#contact-form
{
  background: #f8f8f8;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: black 1px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;

}

#refreshing
{
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding-top: 30px;
}

body
{
  background-color: rgb(245, 241, 222);
}

#custom
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#prod
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ord
{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#photos
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}



